  .Prata {
    font-family: 'Prata'
  }



  
  .want {
    font-family: 'Prata';
  }



  .publish {
    font-family: 'Prata';
  }

  .work {
    font-family: 'Prata';
  }

  .subscribe {
    font-family: 'Prata';
  }
  .discover{
    font-family: 'Prata';
  }