  .Prata {
    font-family: 'Prata'
  }

  .welcome {
    font-family: 'Prata';
  }


  .want {
    font-family: 'Prata';
  }

  .slick-arrow.slick-next {
    display: none !important;

  }

  .slick-arrow.slick-prev {
    display: none !important;

  }

  .bg-mobile {
    background-position: center;
  }

 


  .publish {
    font-family: 'Prata';
  }

  .work {
    font-family: 'Prata';
  }

  .subscribe {
    font-family: 'Prata';
  }

  .discover {
    font-family: 'Prata';
  }

  @media only screen and (max-width: 450px) {
    .bottom {
      padding-left: 1px;
      padding-right: 1px;



    }



  }

  .hello {
    border-right: hidden;

  }

  @media screen and (max-width:450px) {
    .media {
      /* position: absolute; */
      margin-right: 4px;
width: 320px;    
    }

  }