  .Prata {
    font-family: 'Prata'
  }




  .want {
    font-family: 'Prata';
  }



  .publish {
    font-family: 'Prata';
  }

  .work {
    font-family: 'Prata';
  }

  .subscribe {
    font-family: 'Prata';
  }

  .discover {
    font-family: 'Prata';
  }

  @media only screen and (max-width: 450px) {
    .bottom {
      padding-left: 1px;
      padding-right: 1px;
     
 

    }

    

    .slick-track {
      transform: none !important;
      /* background-color: red */

    }
  }
.hello{
  border-right: hidden;
 
}